<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>@ViewBag.Title - MVC Shopping</title>
    <link href="@Url.Content("~/Content/style.css")" rel="stylesheet" type="text/css" />
    <script language="javascript" type="text/javascript">
    </script>
    <script src="~/Scripts/jquery-3.3.1.js"></script>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>

    <!-- Top Menu Start -->
    <!--<div id="templatemo_header_wrapper">
        <div id="templatemo_header">
            <div id="templatemo_menu">
                <div id="templatemo_menu_left"></div>
                <ul>
                    <li>@Html.ActionLink("Home","Index","Home")</li>
                    <li>@Html.ActionLink("Manager","Index", "Manage")</li>
                    @*<li><a href="http://www.templatemo.com/page/2">Gallery</a></li>
                    <li><a href="#">Company</a></li>
                    <li><a href="#" class="last">Contact</a></li>*@
                </ul>
            </div>
        </div>
    </div>-->
    <!-- End of Top Menu-->
    <!-- Banner Start -->
    @*<div id="templatemo_banner_wrapper">
        <div id="templatemo_banner">

            <div id="templatemo_banner_image">
                <div id="templatemo_banner_image_wrapper">
                    <img src="~/Content/images/templatemo_image_01.jpg" alt="image 1" />
                </div>
            </div>

            <div class="cleaner"></div>
        </div>
    </div>*@
    <!-- End of Banner -->


    <div id="templatemo_content_wrapper">
        <div>

            <!-- Content Area -->
            <div>
                @RenderBody()
                <div class="cleaner"></div>
            </div>
            <!-- End of Content Area -->
            <!-- Right Sidebar -->
           
            <!-- End of Right Sidebar -->

            <div class="cleaner"></div>
        </div>
    </div>

    <!-- Footer -->
    <div id="templatemo_footer_wrapper">

        <div id="templatemo_footer">
            <div class="cleaner"></div>
        </div> <!-- end of footer -->
    </div>
    <!-- End of Footer -->

</html>