<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>@ViewBag.Title - MVC Shopping</title>
    <link href="@Url.Content("~/Content/style.css")" rel="stylesheet" type="text/css" />
    <script language="javascript" type="text/javascript">
    </script>
    <script src="~/Scripts/jquery-3.3.1.js"></script>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>



    <div>
        @RenderBody()
    </div>

    <!-- Footer -->
    <div id="templatemo_footer_wrapper">

        <div id="templatemo_footer">
            <div class="cleaner"></div>
        </div> <!-- end of footer -->
    </div>
    <!-- End of Footer -->

</html>